body {
    color: white;
}


.GT-button{
    background-color:rgb(200, 0, 0);
    color:white;
    height:34px;
    width:90px;
    border:none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
    font-weight:bold;
    transition: opacity 0.5s,box-shadow 0.5s;
}

.GT-button:hover{
    opacity:0.7;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.GT-button:active{
    opacity:0.4;
}

.LC-button{
    background-color:aqua;
    color:black;
    height:34px;
    width:90px;
    border:none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
    font-weight:bold;
    box-shadow: 5px 5px 10px rgba(0 0 0 0.15);
}

.LC-button:hover{
    opacity:0.7;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.LC-button:active{
    opacity:0.4;
}

.CC-button{
    background-color:darkgreen;
    color:white;
    height:34px;
    width:90px;
    border:none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
    font-weight:bold;
    box-shadow: 5px 5px 10px rgba(0 0 0 0.15);
}

.CC-button:hover{
    opacity:0.7;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.CC-button:active{
    opacity:0.4;
}

.GFG-button{
    background-color:chartreuse;
    color:black;
    height:34px;
    width:90px;
    border:none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
    font-weight:bold;
    box-shadow: 5px 5px 10px rgba(0 0 0 0.15);
}

.GFG-button:hover{
    opacity:0.7;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.GFG-button:active{
    opacity:0.4;
}
*{
    margin: 0;
    padding: 0;
}
.background-i{
    background-image: url(nyt.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}


.bt11{
    background-color: blue;
    color:azure;
    border:none;
    border-radius: 5px;
    height:30px;
    width: 85px;
    cursor: pointer;
    font-weight: bold;
    transition: opacity 0.5s;
    
}

.bt11:hover{
    opacity: 0.5;
}