*{
    margin:0;
    padding:0;
}
body{
    background-image: url('home.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height:100vh;
}

.bt1{
    background-color: blueviolet;
    color:azure;
    border: none;
    border-radius: 5px;
    height: 34px;
    width: 98px;
    font-size: 15px;
    cursor: pointer;
    font-weight: bold;
    transition: opacity 0.5s;
}

.bt1:hover{
    opacity: 0.5;
}

.bt2{
    background-color: rgb(7, 255, 106);
    color:azure;
    border: none;
    border-radius: 5px;
    height: 34px;
    width: 98px;
    font-size: 15px;
    cursor: pointer;
    font-weight: bold;
    transition: opacity 0.5s;
}

.bt2:hover{
    opacity: 0.5;
}

.bt3{
    background-color: rgb(240, 3, 3);
    color:azure;
    border: none;
    border-radius: 5px;
    height: 34px;
    width: 98px;
    font-size: 15px;
    cursor: pointer;
    font-weight: bold;
    transition: opacity 0.5s;
}

.bt3:hover{
    opacity: 0.5;
}